%%% 合服配置

	[
	   {source,
	       [
	            [
                     {host,                     "10.10.198.61"},           %%主机名("10.221.248.51")
                     {username,                 "xiyanghong"},                %%数据库用户名
                     {password,                 "game123456"},              %%数据库密码  
                     {database,                 "wwsg1"},              %%数据库名
                     {port,                     3306},                  %%数据库端口  
                     {charset,                  utf8}                   %%数据库编码
                ],
		[
                     {host,                     "10.10.198.62"},           %%主机名("10.221.248.51")
                     {username,                 "xiyanghong"},                %%数据库用户名
                     {password,                 "game123456"},              %%数据库密码
                     {database,                 "wwsg2"},              %%数据库名
                     {port,                     3306},                  %%数据库端口
                     {charset,                  utf8}                   %%数据库编码
                ],[
                     {host,                     "10.10.198.63"},           %%主机名("10.221.248.51")
                     {username,                 "xiyanghong"},                %%数据库用户名
                     {password,                 "game123456"},              %%数据库密码
                     {database,                 "wwsg3"},              %%数据库名
                     {port,                     3306},                  %%数据库端口
                     {charset,                  utf8}                   %%数据库编码
                ],[
                     {host,                     "10.10.198.64"},           %%主机名("10.221.248.51")
                     {username,                 "xiyanghong"},                %%数据库用户名
                     {password,                 "game123456"},              %%数据库密码
                     {database,                 "wwsg4"},              %%数据库名
                     {port,                     3306},                  %%数据库端口
                     {charset,                  utf8}                   %%数据库编码
                ]

	       ]
      },
      {target,
           [
             {host,                     "localhost"},           %%主机名("10.221.248.51")
             {username,                 "root"},                %%数据库用户名
             {password,                 "game123456"},              %%数据库密码  
             {database,                 "wwsg1_temp"},              %%数据库名
             {port,                     3306},                  %%数据库端口  
             {charset,                  utf8}                   %%数据库编码
           ]
       }
   ].

%% File end.
