[
        {cookie,   'sanguo'},
        {is_copy,  1},
        {log_path, "../reload"},
        {mod, 
            [
                furnace_fusion_api
            ]
        },
        {node, 
            [
                {1, 'sanguo_360u9_1@127.0.0.1'},
                {2, 'sanguo_360u9_2@127.0.0.1'}
            ]
        }
].