[

	{kernel, [{error_logger,				{file, "./../logs/error/kernel.log"}}]},
    {server, [
            {base,  [
                            {sid,                      1},                               % 服务器id
                            {platform_id,              63},                               % 平台id
                            {debug,                    0},                               % 调式模式
                            {port,                     8001},                            % 端口
                            {gm_port,                  12001},                             % 后台端
                            {combine_serv,             [1]},
                            % {tencent_host,              "openapi.tencentyun.com"},
                            {tencent_host,              "119.147.19.43"}
                    ]
            },
            %% debug--------------------------------------------------------------------------------------
            {debug,  [
                            {logs_lv,                  5},                                % 日志等级
            
                            % MYSQL  
                            {mysql,   local_hzr},
                            {db_list, [
                                        {local_hzr,         "192.168.10.111",      "root", "123456", "wwsg1",      3306, utf8},
                                        {inner_main,        "172.16.10.204",  "wwsg", "123456", "wwsg_4399_s16", 3306, utf8},
                                        {out_test_main,     "113.105.250.69", "wwsg", "123456", "wwsg_s1",   3306, utf8}
                                     ]
                            }
                      ] 
            },
            %% release--------------------------------------------------------------------------------------
            {release,   [
                            {logs_lv,                  3},                               % 日志等级
                            
                            % 开关
                            {fcm_switch,                0},                              % 防沉迷系统开关
                            {gm_cmd,                    1},                              % gm命令
                            {is_test_server,            false},                              % 体验服开关
                            
                            % db
                            {db_host,                   "192.168.10.111"},                    % 主机名("127.0.0.1")
                            {db_username,               "xiyanghong"},                         % 数据库用户名
                            {db_password,               "jtx123456"},                       % 数据库密码  
                            {db_database,               "wwsg1"},                         % 数据库名
                            {db_port,                   3306},                           % 数据库端口  
                            {db_charset,                utf8},                           % 数据库编码
                            
                            {start_time,                {2014, 7, 24, 10, 0, 0}},         % 开服时间
                            {close_time,                {2013, 12, 1, 0, 0, 0}},         % 体验服停服时间
                            {next_start_time,           {2014, 7, 24, 10, 0, 0}},          % 正式服开服时间
							{combined_time,            {2014, 9, 14, 0, 0, 0}}
                               
                         ]
            }            
			]
	}
].

